<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <v:variable.set name="locallang" value="LLL:EXT:gjo_boilerplate/Resources/Private/Language/form.xlf"/>


    <script>

        var errorMessage_alphabetic = '<f:translate key="{locallang}:validator.alphabetic.error"/>';
        var errorMessage_alphanumeric = '<f:translate key="{locallang}:validator.alphanumeric.error"/>';
        var errorMessage_numeric = '<f:translate key="{locallang}:validator.numeric.error"/>';
        var errorMessage_email = '<f:translate key="{locallang}:validator.email.error"/>';
        var errorMessage_uri = '<f:translate key="{locallang}:validator.uri.error"/>';
        var errorMessage_required = '<f:translate key="{locallang}:validator.required.error"/>';

        // TODO: hier brauch ich die Angaben aus dem Field des Validators!! - auf Vers. 2.0
        // eigenen ViewHelper anlegen - VariablenInhalte ansehen (Fehler wegen Array vs. String für arguments)
        var errorMessage_stringLength_between = '<f:translate key="{locallang}:validator.stringLength.error.between" />';
        var errorMessage_stringLength_min = '<f:translate key="{locallang}:validator.stringLength.error.min"/>';
        var errorMessage_stringLength_max = '<f:translate key="{locallang}:validator.stringLength.error.max"/>';
        var errorMessage_numericRange_notvalid = '<f:translate key="{locallang}:validator.numericRange.error.notvalid"/>';
        var errorMessage_numericRange_range = '<f:translate key="{locallang}:validator.numericRange.error.range"/>';
        var errorMessage_confirm = '<f:translate key="{locallang}:validator.validTestForm.error.compare"/>';


    </script>


</div>