<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">


    <f:form.validationResults for="{object}">
        <v:variable.set name="propertyErrors"
                        value="{gjoSe:form.property(subject:'{validationResults.flattenedErrors}', propertyName:'{property}')}"/>

        <ul class="error-message list-group">
            <f:if condition="{propertyErrors}">
                <f:for each="{propertyErrors}" as="error">
                    <li>
                        {error}
                    </li>
                </f:for>
            </f:if>
        </ul>

    </f:form.validationResults>

</div>